In [42]:
import pandas as pd
import numpy as np
import geopandas
import matplotlib.pyplot as plt
import osmnx as ox
import folium
from folium import plugins

In [43]:
file = 'Datas/inventario_instalaciones_fotovoltaicas_2021.csv'

df = pd.read_csv(file, delimiter=';',
                 usecols = ['Centro','Latitud','Longitud','Uso del edificio', 'Potencia KWp', 'Empresa instaladora', 'Puesta en servicio'])

## Deja renomer des colonnes

In [44]:
df = df.rename(columns={'Uso del edificio': 'Uso', 'Potencia KWp': 'Potencia', 'Empresa instaladora': 'Empresa', 'Puesta en servicio': 'DateInst'})

In [45]:
dempresa = df.groupby("Empresa")["Empresa"].count()
dempresa

Centro
ALMACÉN DE LA VILLA                         1
ANTIGUO CANÓDROMO                           1
AULA DE LA NATURALEZA DEHESA DE LA VILLA    0
BASE 14 SAMUR                               1
BIBLIOTECA EUGENIO TRIAS (CASA FIERAS)      1
                                           ..
UID HORTALEZA                               1
UID MONCLOA-ARAVACA                         1
UID VILLA DE VALLECAS                       1
VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO      0
VIVERO MUNICIPAL DE MIGAS CALIENTES         0
Name: Empresa, Length: 105, dtype: int64

IndexError: index 1 is out of bounds for axis 0 with size 1

In [40]:
dempresa

                                Empresa
AURA                                 20
PECSA                                15
FERROVIAL                             9
DRAGADOS                              8
OHL                                   4
SAVEFFI                               4
EULEN                                 4
ORTIZ                                 3
ACCIONA                               3
IMESAPI                               2
CYOPSA                                2
POWEN                                 1
FULTON                                1
AVELSA (Avance Electrico S.L)         1
ORTHEM                                1
Ortiz                                 1
CONDISA                               1
CONDISA (grupo Ortiz)                 1
ETRALUX                               1
ELECTOSA                              1
UGARTE                                1